.roll_input {
  grid-column: 1 / 7;
}

.roll_input__field {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.roll_input input {
  font-family: inherit;
  flex: 1 1 auto;
  padding: 0.75rem 0.5rem;
  font-size: 1.2rem;
  border-top-left-radius: 0.5rem;
  border: 1px solid black;
  border-bottom-left-radius: 0.5rem;
}

.roll_input button {
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  margin-left: -1px;
  border: 1px solid black;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

@media (min-width: 40rem) {
  .roll_input {
    grid-column: 3 / 6;
  }
}

@media (min-width: 64rem) {
  .roll_input {
    grid-column: 3 / 5;
  }
}
