.help {
  grid-column: 1 / 7;
}

.help h2 {
  font-size: 1.8rem;
  margin: 0.5rem 0 1.25rem;
}

.help p {
  font-size: 1.4rem;
}

.help ul {
  margin-left: 25px;
}

.help li {
  font-size: 1.4rem;
  margin-top: 0.875rem;
}

/* Medium */
@media (min-width: 40rem) {
  .help {
    grid-column: 2 / 6;
  }
}

/* large */
@media (min-width: 64rem) {
  .help {
    grid-column: 3 / 5;
  }
}
