body {
  font-family: Copperplate, 'Copperplate Gothis Light', fantasy;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
}
